//qiime.config

profiles {

	server {

		singularity {
			enabled = true
			autoMounts = true
			}

		executor {
			queueSize = 3
			}

		process {
			container = '/home/rmadzime/qiime_workflow/container/temp_qiime.sif'

			withLabel: big_threads {
				cpus = 8
				memory = 20.GB
				}

			withLabel: small_threads {
				cpus = 6
				memory = 15.GB
				}

			withLabel: min_threads {
				cpus = 4
				memory = 6.GB
				}
		}
	}

	cluster {

		 process {
                        executor = "pbspro"
                        clusterOptions = "-N qiime2_run -q serial -P CBBI0999"
                        beforeScript = "module load chpc/singularity/3.5.3"
                        maxRetries = 2
                }

		process {
			withLabel: big_threads {
				cpus = 10
				memory = 20.GB
				time = '15h'
				}

			withLabel: small_threads {
				cpus = 8
				memory = 12.GB
				time = '10h'
				}

			withLabel: min_threads {
				cpus = 4
				memory = 6.GB
				time = '8h'
				}
		}

		process.container = '/mnt/lustre/users/rmadzime/metagenomics'

		singularity {
			enabled = true
			autoMounts = true
			cacheDir = '/mnt/luster/users/rmadzime/.singularity'
		}		
	
		executor {
			queueSize = 5
			
		}
	}
}


		
			
